doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(type='text/javascript' src='/javascripts/react.min.js')
    script(type='text/javascript' src='/javascripts/JSXTransformer.js')
  body
    block content
